@media (max-width: 1600px) {
    .container {
        max-width: 1300px;
    }
    .offer p {
        font-size: 240px;
        line-height: 196px;
    }
}
@media (max-width: 1366px) {
    .container {
        max-width: 1170px;
    }
    .offer p {
        font-size: 220px;
        line-height: 180px;
    }
    .btn-wrapper {
        width: 123px;
        height: 123px;
        border-bottom: 2px solid #C139F3;
        border-radius: 100px;
    }
    .btn-wrapper a {
        color: #C139F3;
        text-align: center;
        padding: 52px 0;
        text-transform: uppercase;
        text-shadow: 1px 0 10px #C139F3;
    }
}
@media (max-width: 1260px) {
    .container {
        max-width: 1020px;
    }
    .offer p {
        font-size: 190px;
        line-height: 149.4px;
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 920px;
    }
    .offer p {
        font-size: 170px;
        line-height: 139.4px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 840px;
    }
    .offer p {
        font-size: 160px;
        line-height: 120.4px;
    }
    .btn-wrapper {
        width: 100px;
        height: 100px;
    }
    .btn-wrapper a {
        font-size: 12px;
        padding: 42.12px 0;
    }
}
@media (max-width: 915px){
    .container {
        max-width: 680px;
    }
    .offer p {
        font-size: 120px;
        line-height: 100.4px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .offer p {
        font-size: 100px;
        line-height: 78.4px;
    }
    .main-menu__item {
        margin-right: 40px;
    }
    .main-menu__item span{
        font-size: 12px;
        line-height: 16.2px;
    }
    .btn-wrapper {
        width: 80px;
        height: 80px;
    }
    .btn-wrapper a {
        font-size: 9px;
        padding: 33.69px 0;
    }
    .telenkov {
        width: 100px;
        height: 17px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }
    .main-menu__item {
        margin-right: 30px;
    }
    .main-menu__item span{
        font-size: 9px;
        line-height: 12.2px;
    }
    .offer p {
        font-size: 95px;
        line-height: 72.4px;
    }
    .btn-wrapper {
        width: 60px;
        height: 60px;
    }
    .btn-wrapper a {
        font-size: 6px;
        padding: 24.75px 0;
    }
    
}
@media (max-width: 540px) {
    .offer p {
        font-size: 85px;
        line-height: 66.4px;
    }
}
@media (max-width: 480px) {
    body {
        padding: 10% 0;
        max-height: 100vh;
        overflow: hidden;
    }
    .flex {
        display: none;
    }
    .flex-mobile {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 80vh;
    }
    header {
        display: none;
    }
    .offer-section {
        display: none;
    }
    footer {
        display: none;
    }
    .mobile-section {
        display: block;
        padding: 30px 0;
    }
    .telenkov-mob {
        display: block;
        width: 133px;
        height: 24px;
        margin: 0 auto;
        animation: translateTop .6s ease-in-out;
    }
    .mobile-menu {
        display: block;
        margin: 0 auto;
        animation: opacity .6s ease-in-out;
        width: 48px;
        height: 22px;
        background: url(../img/menu.svg);
    }
    .mobile-menu-module {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        background: #C2ADFFCC;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .mobile-menu-module-active {
        display: block;
        animation: mobile-menu-open 0.25s ease-in-out forwards;
    }
    .mobile-menu-module-open {
        animation: mobile-menu-open .6s ease-in-out forwards;
    }
    .mobile-menu-module-close {
        animation: mobile-menu-close .6s ease-in-out forwards;
    }
    .mobile-menu:hover .mobile-menu-module{

    }
    @keyframes mobile-menu-open {
        0%{
            transform: scale(0);
            border-radius: 100px;
        }
        100%{
            transform: scale(1);
            border-radius: 0px;
        }
    }
    @keyframes mobile-menu-close {
        0%{
            transform: scale(1);
            border-radius: 0px;
        }
        100%{
            transform: scale(0);
            border-radius: 100px;
        }
    }
    .mobile-menu__list {
        display: flex;
        height: 100%;
        gap: 10%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mobile-menu__item {
        text-transform: uppercase;
        text-align: center;
    }
    .mobile-menu__item span{
        color: #050318;
    }
    #telegram-mobile-link {
        background: url(../img/mobile-telegram-link.png);
        width: 32px;
        height: 32px;
        margin: 0 auto;
    }
    #close-mobile-menu {
        background: url(../img/close-menu.png);
        margin: 0 auto;
        width: 34.76px;
        height: 34.76px;
        text-align: center;
        font-size: 60px;
    }

    .offer-mob {
        display: none;
        margin: 0 auto;
        width: 258px;
    }
    .offer-mob span {
        color: #C2ADFF;
        font-size: 48px;
        line-height: 39.36px;
        text-transform: uppercase;
        text-align: center;
    }
    .offer-mob span:first-child {
        animation: translateLeft .6s ease-in-out;
    }
    .offer-mob span:last-child {
        animation: translateRight .6s ease-in-out;
    }
    .offer-mob .italic {
        font-family: Coolvetica Italic;
    }
    .btn-wrapper-mobile {
        display: none;
        margin: 0 auto;
        width: 284px;
        height: 64px;
        border-bottom: 1px solid #C139F3;
        border-radius: 100px;
        transition: box-shadow 0.2s ease,border-radius 0.2s ease;
        padding: 22.5px 0; 
        animation: btn-animation 0.6s ease-in-out;
    }
    @keyframes btn-animation {
        0%{transform: translateY(100);opacity: 0;}
        100%{transform: translateY(0);opacity: 1;}
    }
    .btn-wrapper-mobile:hover {
        box-shadow: 0 0 5px #C139F3,
        0 0 5px #C139F3,
        0 0 5px #C139F3,
        0 0 5px #C139F3;
        border: 2px solid #C139F3;
        border-radius: 100px;
        transition: box-shadow 0.2s ease,border-radius 0.2s ease; 
    }
    .btn-wrapper-mobile a {
        font-family: Coolvetica Regular;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: #C2ADFF;
        font-size: 16px;
        text-shadow: 1px 0 10px #C139F3;
    }
    /* MOBILE SECTIONs */
    .mobile-section {
        display: none;
        order: 9;
    }
    .active-mobile-section {
        display: block;
    }
    .email-input {
        width: 100%;
    }
    .email-btn {
        width: 100%;
    }
    .input-file-row {
        width: 100%;
    }
    .input-file {
        width: 100%;
    }
    .contact-us-wrapper {
        width: 100%;
    }
    .contact-us-email-btn span {
        text-align: center;
    }
    .mobile-item__active span{
        color: #4772E8;
    }
    .link-wrapper-animation-mob {
        animation: email-input-animation .6s ease-in-out;
    }
} 