@media (max-width: 1600px) {
    .container {
        max-width: 1300px;
    }
    .offer p {
        font-size: 240px;
        line-height: 196px;
    }
    .offer-section {
        /* margin-bottom: 135px; */
    }
    .portfolio-section {
        /* padding: 304px 0 290px; */
    }
    .career-section {
        /* padding: 223px 0 157px; */
    }
    .request-section {
        /* padding: 320px 0 274px; */
    }
    .contact-us-section {
        /* padding: 350px 0 318px; */
    }
}
@media (max-width: 1366px) {
    body {
        padding: 15px 0 48px;
    }
    .container {
        max-width: 1170px;
    }
    .offer {
        /* margin-top: 160px; */
    }
    .offer p {
        font-size: 220px;
        line-height: 180px;
    }
    .btn-wrapper {
        width: 123px;
        height: 123px;
        border-bottom: 2px solid #C139F3;
        border-radius: 100px;
    }
    .btn-wrapper a {
        color: #C139F3;
        text-align: center;
        padding: 52px 0;
        text-transform: uppercase;
        text-shadow: 1px 0 10px #C139F3;
    }
    .offer-section {
        /* margin-bottom: 175px; */
    }
    .portfolio-section {
        /* padding: 264px 0 250px; */
    }
    .career-section {
        /* padding: 183px 0 117px; */
    }
    .request-section {
        /* padding: 280px 0 234px; */
    }
    .contact-us-section {
        /* padding: 310px 0 278px; */
    }
}
@media (max-width: 1260px) {
    .container {
        max-width: 1020px;
    }
    .offer p {
        font-size: 190px;
        line-height: 149.4px;
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 920px;
    }
    .offer {
        /* margin-top: 100px; */
    }
    .offer p {
        font-size: 170px;
        line-height: 139.4px;
    }
    .offer-section {
        /* margin-bottom: 105px; */
    }
    .portfolio-section {
        /* padding: 174px 0 170px; */
    }
    .career-section {
        /* padding: 73px 0 57px; */
    }
    .request-section {
        /* padding: 180px 0 164px; */
    }
    .contact-us-section {
        /* padding: 200px 0 215px; */
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 840px;
    }
    .offer p {
        font-size: 160px;
        line-height: 120.4px;
    }
    .btn-wrapper {
        width: 100px;
        height: 100px;
    }
    .btn-wrapper a {
        font-size: 12px;
        padding: 42.12px 0;
    }
}
@media (max-width: 915px){
    .container {
        max-width: 680px;
    }
    .offer p {
        font-size: 120px;
        line-height: 100.4px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .offer p {
        font-size: 100px;
        line-height: 78.4px;
    }
    .main-menu__item {
        margin-right: 40px;
    }
    .main-menu__item span{
        font-size: 12px;
        line-height: 16.2px;
    }
    .btn-wrapper {
        width: 80px;
        height: 80px;
    }
    .btn-wrapper a {
        font-size: 9px;
        padding: 33.69px 0;
    }
    .telenkov {
        width: 100px;
        height: 17px;
    }
    .telegram {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }
    .main-menu__item {
        margin-right: 30px;
    }
    .main-menu__item span{
        font-size: 9px;
        line-height: 12.2px;
    }
    .offer p {
        font-size: 95px;
        line-height: 72.4px;
    }
    .btn-wrapper {
        width: 60px;
        height: 60px;
    }
    .btn-wrapper a {
        font-size: 6px;
        padding: 24.75px 0;
    }
    
}
@media (max-width: 540px) {
    .offer p {
        font-size: 85px;
        line-height: 66.4px;
    }
}
@media (max-width: 480px) {



    
/* 
    .flex {
        display: none;
    }
    .flex-mobile {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 90vh;
    }
    header {
        display: none;
    }
    .offer-section {
        display: none;
    }
    footer {
        display: none;
    }
    .telenkov-mob {
        display: block;
        width: 133px;
        height: 24px;
        margin: 0 auto;
        animation: translateTop .6s ease-in-out;
    }
    .mobile-menu {
        display: block;
        margin: 0 auto;
        animation: opacity .6s ease-in-out;
        width: 48px;
        height: 22px;
        background: url(../img/menu.png);
    }
    .mobile-menu-module {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background: #C2ADFFCC;
        backdrop-filter: blur(10px);
        transform: scale(0);
        transition: transform 0.2s ease;
    }
    .mobile-menu:hover .mobile-menu-module{
    }
    @keyframes mobile-menu-open {
        0%{
            transform: scale(0);
            border-radius: 100px;
        }
        100%{
            transform: scale(1);
            border-radius: 0px;
        }
    }
    @keyframes mobile-menu-close {
        0%{
            transform: scale(1);
            border-radius: 0px;
        }
        100%{
            transform: scale(0);
            border-radius: 100px;
        }
    }
    .mobile-menu__list {
        display: flex;
        height: 100%;
        gap: 10%;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mobile-menu__item {
        text-align: center;
    }
    .mobile-menu__item span{
        color: #050318;
    }
    #telegram-mobile-link {
        background: url(../img/mobile-telegram-link.png);
        width: 32px;
        height: 32px;
        margin: 0 auto;
    }
    #close-mobile-menu {
        background: url(../img/close-menu.png);
        margin: 0 auto;
        width: 34.76px;
        height: 34.76px;
        text-align: center;
        font-size: 60px;
    }

    .offer-mob {
        display: block;
        margin: 0 auto;
        width: 258px;
    }
    .offer-mob span {
        color: #C2ADFF;
        font-size: 48px;
        line-height: 39.36px;
        text-transform: uppercase;
        text-align: center;
    }
    .offer-mob span:first-child {
        animation: translateLeft .6s ease-in-out;
    }
    .offer-mob span:last-child {
        animation: translateRight .6s ease-in-out;
    }
    .offer-mob .italic {
        font-family: Coolvetica Italic;
    }
    .btn-wrapper {
        display: block;
        margin: 0 auto;
        width: 284px;
        height: 64px;
    }
    .btn-wrapper a {
        font-size: 16px;
        text-shadow: 1px 0 10px #C139F3;
    } */

} 