/* MAIN SCREEN */
.main-menu__list {
    animation: main-menu-animation 0.6s ease-in-out;
}
.first-string {
    animation: first-string-animation 0.6s ease-in-out;
}
.second-string {
    animation: second-string-animation 0.6s ease-in-out;
}
.btn-wrapper {
    animation: main-button-animation 0.6s ease-in-out;
}
.footer {
    animation: footer-animation 0.6s ease-in-out;
}
@keyframes first-string-animation {
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes second-string-animation {
    0%{
        transform: translateX(500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes main-button-animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes main-menu-animation {
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
@keyframes footer-animation {
    0%{transform: translateY(100px);}
    100%{transform: translateY(0);}
}

.email-input  {
    animation: email-input-animation .6s ease-in-out;
}
.input-file-row {
    animation: input-file-row-animation .6s ease-in-out;
}
.email-btn {
    animation: email-btn-animation .6s ease-in-out
}
@keyframes email-input-animation {
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes email-btn-animation {
    0%{
        transform: translateX(500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes input-file-row-animation {
    0%{opacity: 0;}
    100%{opacity: 1;}
}


@keyframes translateBottom {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }    
}
@keyframes translateRight {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }        
}
@keyframes translateTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }      
}
@keyframes translateLeft {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }    
}
@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}