.btn-wrapper {
    width: 173px;
    height: 173px;
    border-bottom: 1px solid #C139F3;
    border-radius: 100px;
    transition: box-shadow 0.2s ease,border-radius 0.2s ease;
}
.btn-wrapper a {
    color: #C139F3;
    text-align: center;
    padding: 77px 0;
    text-transform: uppercase;
    text-shadow: 1px 0 10px #C139F3;
}
.btn-wrapper:hover {
    border-radius: 100px;
    box-shadow: 0 0 5px #C139F3,
                0 0 5px #C139F3,
                0 0 5px #C139F3,
                0 0 5px #C139F3;
    transition: box-shadow 0.2s ease,border-radius 0.2s ease;
  }