@font-face {
    font-weight: 400;
    font-family: "Coolvetica Regular";
    src: url("../fonts/coolvetica_rg.otf");
}
@font-face {
    font-weight: 400;
    font-family: "Coolvetica Italic";
    src: url("../fonts/coolvetica_rg_it.otf");
}
@font-face {
    font-weight: 300;
    font-family: "Helvetica Light";
    src: url("../fonts/Helvetica.ttc");
}

* {
    box-sizing: border-box;
    cursor: default;
}
body {
    font-family: Coolvetica Regular;
    background: #050318;
    padding: 48px 0 91px;
    /* height: 100vh; */
}
.container {
    width: 1610px;
    margin: 0 auto;
}
/* MAIN MENU */
.main-menu__list {
    display: flex;
    justify-content: center;
}
.main-menu__item {
    margin-right: 80px;
}
.main-menu__item span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #FAF2FD;
    text-transform: uppercase;
    cursor: pointer;
}
.main-menu__item.active span{
    color: #357AE6;
}
.main-menu__item:last-child {
    margin-right: 0;
}
/* OFFER-SECTION */
.offer-section {
    margin-bottom: 186px;
}
.offer {
    margin-top: 209px;
}
.flex-container {
    display: flex;
    align-items: center;
}
.offer p {
    text-transform: uppercase;
    color: #C2ADFF;
    font-size: 300px;
    line-height: 246px;
}
.offer p:last-child {
    font-family: "Coolvetica Italic";
}
/* ANIMATION */
.btn-wrapper {
    border: 2px solid #C139F3;
    display: inline-block;
    padding: 5px;
    border-radius: 10000px;
    width: 173px;
    height: 173px;
    position: relative;
}
.btn-wrapper::before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 180px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 7s normal linear infinite;
}
.btn-wrapper::after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 15px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 4s normal linear infinite;
}
.btn-wrapper button {
    width: 160px;
    height: 160px;
    border-radius: 10000px;
    border: none;
    background: #050318;
    color: #C139F3;
    text-transform: uppercase;
    /* text-shadow: #C139F3 1px 0 100px; */
    text-shadow: 0.3px 0.3px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 0deg);
      }
    25% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 90deg);
      }
    50% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 180deg);
      }
    75% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 270deg);
      }
    100% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 360deg);
      }
}
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
.btn-wrapper-active {
    border: 2px solid #C139F3;
    display: inline-block;
    padding: 5px;
    border-radius: 10000px;
    width: 173px;
    height: 173px;
    position: relative;
}
.btn-wrapper-active::before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 180px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 0.5s normal linear infinite;
}
/* .btn-wrapper-active::after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 130px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 0.2s normal linear infinite;
} */
.btn-wrapper-active button {
    width: 160px;
    height: 160px;
    border-radius: 10000px;
    border: none;
    background: #050318;
    color: #C139F3;
    text-transform: uppercase;
    /* text-shadow: #C139F3 1px 0 100px; */
    text-shadow: 0.3px 0.3px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */
/* TEST SECOND PREUDOELEMENT */





/* FOOTER */
.flex-container {
    display: flex;
    justify-content: space-between;
}
.telenkov {
    height: 36px;
}
/* .flex-container a img {
    background: #FAF2FD;
    border-radius: 100px;
} */





