@font-face {
    font-weight: 400;
    font-family: "Coolvetica Regular";
    src: url("../fonts/coolvetica_rg.otf");
}
@font-face {
    font-weight: 400;
    font-family: "Coolvetica Italic";
    src: url("../fonts/coolvetica_rg_it.otf");
}
@font-face {
    font-weight: 300;
    font-family: "Helvetica Light";
    src: url("../fonts/Helvetica.ttc");
}

* {
    font-family: Coolvetica Regular;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none-;
}
body {
    font-weight: 400;
    background: #050318;
    padding: 48px 0 48px;
    height: 100vh;
}
.container {
    max-width: 1610px;
    width: 100%;
    margin: 0 auto;
}
/* MAIN MENU */
.main-menu__list {
    display: flex;
    justify-content: center;
}
.main-menu__item {
    margin-right: 80px;
}
.main-menu__item span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #FAF2FD;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
}
.item__active span{
    color: #357AE6;
}
.main-menu__item span:hover{
    color: #357AE6;
    transition: color 0.3s ease;
}
.main-menu__item:last-child {
    margin-right: 0;
}
/* OFFER-SECTION */
.offer-section {
    display: none;
}
.flex-container {
    display: flex;
    align-items: center;
}
.offer p {
    text-transform: uppercase;
    color: #C2ADFF;
    font-size: 300px;
    line-height: 246px;
}
.offer p:last-child {
    font-family: "Coolvetica Italic";
}

/* PORTFOLIO SECTION */
.portfolio-section {
    display: none;
}
.portfolio-wrapper {
    width: 420px;
    margin: 0 auto;
}
.portfolio-email {
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    width: 419px;
    padding: 16px 0 16px 32px;
    border-radius: 888px;
    border: 1px solid #C139F3;
    color: #357AE6;
    background: #050318;
    outline: none;
    cursor: text;
    margin-bottom: 24px;
    transition: box-shadow .2s ease,border .2s ease;
}
.portfolio-email::focus {
    border: 2px solid #C139F3;
    padding: 15px 0 15px 31px;
}
#portfolio-email::placeholder {
    color: #357AE6;
}
/* PORTFOLIO SECTION */

/* CAREER */
.career-section {
    display: none;
    /* padding: 353px 0 225px; */
}
.career-wrapper {
    width: 420px;
    margin: 0 auto;
}
.career-email {
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    width: 419px;
    padding: 16px 0 16px 32px;
    border-radius: 888px;
    border: 1px solid #C139F3;
    color: #357AE6;
    background: #050318;
    outline: none;
    cursor: text;
    margin-bottom: 24px;
    transition: box-shadow .2s ease,border .2s ease;
}
.career-email::focus {
    border: 2px solid #C139F3;
    padding: 15px 0 15px 31px;
}
#career-email::placeholder {
    color: #357AE6;
}
.career__drop-zone {
    border: 1px solid #C139F3;
    border-radius: 888px;
    /* height: 192px; */
    margin-bottom: 24px;
    text-align: center;
    padding: 68px 0;
    transition: border 0.2s ease;
}
.career__drop-zone:hover {
    border: 2px solid #C139F3;
    /* border: thick double #C139F3; */
    transition: border 0.2s ease;
}
.career__drop-zone span{
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #357AE6;
}
/* CAREER */

/* REQUEST A QUOTE */
.request-section {
    display: none;
    /* padding: 414px 0 353px; */
}
.request-wrapper {
    width: 420px;
    margin: 0 auto;
}
.request-email {
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    width: 419px;
    padding: 16px 0 16px 32px;
    border-radius: 888px;
    border: 1px solid #C139F3;
    color: #357AE6;
    background: #050318;
    outline: none;
    cursor: text;
    margin-bottom: 24px;
    transition: box-shadow .2s ease,border .2s ease;
}
.request-email::focus {
    border: 2px solid #C139F3;
    padding: 15px 0 15px 31px;
}
#request-email::placeholder {
    color: #357AE6;
}
/* REQUEST A QUOTE */

/* CONTACT US */
.contact-us-section {
    display: none;
    /* padding: 450px 0 389px; */
}
.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    margin: 0 auto;
    height: 128px;
}
.contact-us-email-btn {
    width: 218px;
}
/* CONTACT US */

/* BUUTON ANIM */
.button-wrapper {
}
.email-btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    background: #050318;
    border: 2px solid #C139F3;
    color: #FAF2FD;
    border-radius: 888px;
    padding: 14.5px 32px;
    cursor: pointer;
    position: relative;
    transition: background .3s ease-in-out,color .3s ease-in-out;
}
.email-btn span{
    position: relative;
    z-index: 2;
}
.email-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #C139F3;
    border-radius: 888px;
    transform: scale(0,0);
    transition: transform 0.2s ease-in-out;
}
.email-btn:hover::before {
    transform: scale(0.97,0.9);
    transition: transform 0.2s ease-in-out;
}
.email-btn:focus::before {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
/* @keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/* .email-btn:hover {
    background: #C139F3;
    color: #FAF2FD;

    transition: background .3s ease-in-out,color .3s ease-in-out;
} */
/* PLACEHOLDER */
::placeholder {
    color: #357AE6;
    opacity: 1; 
  }
  
  :-ms-input-placeholder {
    color: #357AE6;
  }
  
  ::-ms-input-placeholder {
    color: #357AE6;
  }
  
/* PLACEHOLDER */
/* FOOTER */
footer {
    display: flex;
    align-items: flex-end;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-container-footer {
    display: flex;
    justify-content: space-between;
}
.telenkov {
    height: 36px;
}
.flex-container-footer a {
    cursor: pointer;
}
.link-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.link-wrapper-animation {
    animation: email-input-animation .6s ease-in-out;
}
.telegram {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: url("../img/telegram.png");
    transition: background .4s ease-in-out;
}
.telegram:hover {
    background: url("../img/telegram-active.png");
    transition: background .4s ease-in-out;
}
.behance {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: url("../img/behance.png");
    transition: background .4s ease-in-out;
}
.behance:hover {
    background: url("../img/behance-active.png");
    transition: background .4s ease-in-out;
}
.flex-container-footer a img {
    cursor: pointer;
}
.telenkov {
    cursor: pointer;
}
/* FOOTER */

/* MOBILE SECTION */
.mobile-section {
    display: none;
}
/* FLEX */
.flex {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.flex-mobile {
    display: none;
}
/* GRATITUBE */
.gratitude-section {
    display: none;
    /* display: block; */
}
.container {

}
.gratitude-text {
    text-align: center;
}
.gratitude-text p {
    font-family: Coolvetica Regular;
    color: #FAF2FD;
}
.gratitude-text p:first-child {
    font-size: 48px;
    line-height: 57.6px;
}
.gratitude-text p:last-child {
    font-size: 16px;
}
/* VALID MESSAGE */
.valid {
    position: absolute;
    top: -20px;
    font-family: Helvetica Light;
    font-size: 10px;
    line-height: 11.5px;
    color: rgba(243, 57, 57, 1);
    margin: 0 0 8px 32px;
    transition: color .5s ease;
    display: none;
}
._error {
    box-shadow: 0 0 15px rgba(243, 57, 57, 1);
    border: 1px solid rgba(243, 57, 57, 1);
    transition: box-shadow .2s ease,border .2s ease;
    color:rgba(243, 57, 57, 1);
}
._error::placeholder {
    color:rgba(243, 57, 57, 1);
}
#form-portfolio {
    position: relative;
}
#form-career {
    position: relative;
}
#form-request {
    position: relative;
}
.active {
    position: absolute;
    top: -20px;
    font-family: Helvetica Light;
    font-size: 10px;
    line-height: 11.5px;
    color: rgba(243, 57, 57, 1);
    margin: 0 0 8px 32px;
    transition: color .5s ease;
    display: block;
}

.active-section {
    display: block;
}