@font-face {
    font-weight: 400;
    font-family: "Coolvetica Regular";
    src: url("../fonts/coolvetica_rg.otf");
}
@font-face {
    font-weight: 400;
    font-family: "Coolvetica Italic";
    src: url("../fonts/coolvetica_rg_it.otf");
}
@font-face {
    font-weight: 300;
    font-family: "Helvetica Light";
    src: url("../fonts/Helvetica.ttc");
}

* {
    font-family: Coolvetica Regular;
    box-sizing: border-box;
    cursor: default;
    -webkit-user-select: none-;
}
body {
    font-weight: 400;
    background: #050318;
    padding: 48px 0 0;
}
.container {
    max-width: 1610px;
    width: 100%;
    margin: 0 auto;
}
/* MAIN MENU */
.main-menu__list {
    display: flex;
    justify-content: center;
}
.main-menu__item {
    margin-right: 80px;
}
.main-menu__item span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #FAF2FD;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;
}
.item__active span{
    color: #357AE6;
}
.main-menu__item span:hover{
    color: #357AE6;
    transition: color 0.3s ease;
}
.main-menu__item:last-child {
    margin-right: 0;
}
/* OFFER-SECTION */
.offer-section {
    display: none;
    margin-bottom: 186px;
}
.offer {
    margin-top: 209px;
}
.flex-container {
    display: flex;
    align-items: center;
}
.offer p {
    text-transform: uppercase;
    color: #C2ADFF;
    font-size: 300px;
    line-height: 246px;
}
.offer p:last-child {
    font-family: "Coolvetica Italic";
}
/* ANIMATION */
/* .btn-wrapper {
    border: 2px solid #C139F3;
    background: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10000px;
    width: 173px;
    height: 173px;
    position: relative;
} */
/* .btn-wrapper::before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 180px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 7s normal linear infinite;
}
.btn-wrapper::after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 15px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 4s normal linear infinite;
} */
/* .btn-wrapper button {
    width: 160px;
    height: 160px;
    border-radius: 10000px;
    border: none;
    background: #050318;
    color: #C139F3;
    text-transform: uppercase;
    text-shadow: 0.3px 0.3px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    position: relative;
    z-index: 1;
    cursor: pointer;
} */
/* @keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 0deg);
      }
    25% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 90deg);
      }
    50% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 180deg);
      }
    75% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 270deg);
      }
    100% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 1, 360deg);
      }
} */
/* TEST SECOND PREUDOELEMENT */


/* .btn-wrapper-active {
    border: 2px solid #C139F3;
    display: inline-block;
    padding: 5px;
    border-radius: 10000px;
    width: 173px;
    height: 173px;
    position: relative;
} */
/* .btn-wrapper-active::before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;
    height: 180px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 0.5s normal linear infinite;
} */
/* .btn-wrapper-active::after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    height: 130px;
    background: #050318;
    transform: translate(-50%, -50%);
    animation: rotate 0.2s normal linear infinite;
} */
/* .btn-wrapper-active button {
    width: 160px;
    height: 160px;
    border-radius: 10000px;
    border: none;
    background: #050318;
    color: #C139F3;
    text-transform: uppercase;
    text-shadow: #C139F3 1px 0 100px;
    text-shadow: 0.3px 0.3px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    position: relative;
    z-index: 1;
    cursor: pointer;
} */
/* TEST SECOND PREUDOELEMENT */




/* PORTFOLIO SECTION */
.portfolio-section {
    display: none;
    padding: 414px 0 353px;
}
.portfolio-wrapper {
    width: 420px;
    margin: 0 auto;
}
#portfolio-email {
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    width: 419px;
    padding: 16px 0 16px 32px;
    border-radius: 888px;
    border: 1px solid #C139F3;
    color: #357AE6;
    background: #050318;
    outline: none;
    cursor: text;
    margin-bottom: 24px;
}
#portfolio-email::placeholder {
    color: #357AE6;
}
#portfolio-email:focus {
    border: 2px solid #C139F3;
    padding: 15px 0 15px 31px;
}
/* PORTFOLIO SECTION */

/* CAREER */
.career-section {
    display: none;
    padding: 353px 0 225px;
}
.career-wrapper {
    width: 420px;
    margin: 0 auto;
}
#career-email {
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    width: 419px;
    padding: 16px 0 16px 32px;
    border-radius: 888px;
    border: 1px solid #C139F3;
    color: #357AE6;
    background: #050318;
    outline: none;
    cursor: text;
    margin-bottom: 24px;
}
#career-email::placeholder {
    color: #357AE6;
}
#career-email:focus {
    border: 2px solid #C139F3;
    padding: 15px 0 15px 31px;
}
.career__drop-zone {
    border: 1px solid #C139F3;
    border-radius: 888px;
    /* height: 192px; */
    margin-bottom: 24px;
    text-align: center;
    padding: 68px 0;
    transition: border 0.2s ease;
}
.career__drop-zone:hover {
    border: thick double #C139F3;
    transition: border 0.2s ease;
}
.career__drop-zone span{
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #357AE6;
}
/* CAREER */

/* REQUEST A QUOTE */
.request-section {
    display: none;
    padding: 414px 0 353px;
}
.request-wrapper {
    width: 420px;
    margin: 0 auto;
}
#request-email {
    font-family: Helvetica Light;
    font-weight: 300;
    font-size: 14px;
    width: 419px;
    padding: 16px 0 16px 32px;
    border-radius: 888px;
    border: 1px solid #C139F3;
    color: #357AE6;
    background: #050318;
    outline: none;
    cursor: text;
    margin-bottom: 24px;
}
#request-email::placeholder {
    color: #357AE6;
}
#request-email:focus {
    border: 2px solid #C139F3;
    padding: 15px 0 15px 31px;
}
/* REQUEST A QUOTE */

/* CONTACT US */
.contact-us-section {
    display: none;
    padding: 450px 0 389px;
}
.contact-us-wrapper {
    width: 420px;
    margin: 0 auto;
}
.contact-us-email-btn {
    width: 218px;
}
/* CONTACT US */

/* BUUTON ANIM */
.button-wrapper {
}
.email-btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    background: #050318;
    border: 2px solid #C139F3;
    color: #FAF2FD;
    border-radius: 888px;
    padding: 14.5px 32px;
    cursor: pointer;
    position: relative;
    transition: background .3s ease-in-out,color .3s ease-in-out;
}
.email-btn span{
    position: relative;
    z-index: 2;
}
.email-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #C139F3;
    border-radius: 888px;
    transform: scale(0,0);
    transition: transform 0.2s ease-in-out;
}
.email-btn:hover::before {
    transform: scale(0.97,0.9);
    transition: transform 0.2s ease-in-out;
}
.email-btn:focus::before {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
/* @keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
/* .email-btn:hover {
    background: #C139F3;
    color: #FAF2FD;

    transition: background .3s ease-in-out,color .3s ease-in-out;
} */
/* FOOTER */
footer {
    display: flex;
    align-items: flex-end;
}
.flex-container {
    display: flex;
    justify-content: space-between;
}
.telenkov {
    height: 36px;
}
.flex-container a {
    cursor: pointer;
}
.flex-container a img {
    cursor: pointer;
}
.telenkov {
    cursor: pointer;
}
/* FOOTER */

.active-section {
    display: block;
}

._error {
    box-shadow: 0 0 15px #C139F3;
}

/* MOBILE SECTION */
.mobile-section {
    display: none;
}